<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amandeep.androdservicedemo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndrodServiceDemo">
        <activity
            android:name=".jonserviceScheduler.JobServiceActivity"
            android:exported="false" />
        <activity
            android:name=".intentservice.IntentServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_intent_service"
            android:theme="@style/Theme.AndrodServiceDemo.NoActionBar" />
        <activity
            android:name=".bindingbetweentwoaaps.ServerSideActivity"
            android:exported="false" />
        <activity
            android:name=".bindservice.BindServiceActivity"
            android:exported="false" />
        <activity
            android:name=".startedService.StartedServiceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".startedService.StartedService"
            android:exported="false" />
        <service
            android:name=".bindservice.BindService"
            android:exported="false" />
        <service
            android:name=".bindingbetweentwoaaps.ServerSideService"
            android:exported="true" />
        <service
            android:name=".intentservice.MyService"
            android:exported="false" />
        <service
            android:name=".intentservice.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".jonserviceScheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".intentservice.MyServiceForeground"
            android:foregroundServiceType="dataSync"/>

        <service
            android:name=".AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="AIDLService" />
            </intent-filter>
        </service>



    </application>

</manifest>